.camera-size{
  height: 500px;
  width: 300px;
}

.footer {
  background-color: blue;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}
