.camera-size{
  height: 500px;
  width: 300px;
}

.footer {
  background-color: #4178fb;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  height: 50px;
}

div.scrollfilter {
  overflow: auto;
  white-space: nowrap;
  bottom: 50px;
  position: absolute;
}

div.scrollfilter a {
  display: inline-block;
  text-align: center;
  padding: 14px;
  text-decoration: none;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}
