.camera-size{
  height: 500px;
  width: 300px;
}

.footer {
  background-color: #A4DEF3;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  padding-top: 5px;
  height: 60px;
}

h2{
  font-family: 'Rakkas';
  color: #932B39;
}

.header{
  background-color: #E1F7FE;
  height: 60px;
  width: 100%;
  position: fixed;
  left: 0;
  top : 0;
  justify-content: center;
}

div.scrollfilter {
  overflow: auto;
  white-space: nowrap;
  bottom: 50px;
  position: absolute;
}

div.scrollfilter a {
  display: inline-block;
  text-align: center;
  padding: 14px;
  text-decoration: none;
  margin-right: auto;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

#file-upload{
  display : none;
}



.image-div{
   position : fixed;
   margin-top: 60px;
}

.footer-btn {
  display: inline-block;
  border-top: 3px solid #c8951e;
  border-bottom: 8px solid #DAA520;
  border-left: 7px solid #c8951e;
  border-right: 4px solid #B2955D;
  border-radius: 8px;
  border-style: outset;

}
